<%= form_with(model: experiment, local: true, class: "ga-form") do |form| %>
  <% if experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
      <% experiment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :generations %>
  <%= form.hidden_field :fitness %>
  <%= form.hidden_field :time %>

  <div class="form-group row">
    <%= form.label t('views.word') + ":", class: "col-4" %>
    <div class="col-8">
      <%= form.text_field :word, class: "form-control" %>
      <small class="form-text text-muted"><%= t('views.word_hint') %></small>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label t('views.population') + ":", class: "col-4" %>
    <div class="col-8">
      <%= form.number_field :population, class: "form-control" %>
      <small class="form-text text-muted"><%= t('views.population_hint') %></small>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label t('views.mutation') + ":", class: "col-4" %>
    <div class="col-8">
      <%= form.number_field :mutation, step: :any, class: "form-control" %>
      <small class="form-text text-muted"><%= t('views.mutation_hint') %></small>
    </div>
  </div>
  <%= form.submit "", class: "form-submit d-none" %>
<% end %>
<br>