<div class="row">
  <h1 class="col page-title">Experiments</h1>
  <div class="col-3">
    <img src="https://cdn0.iconfinder.com/data/icons/monkey-2/119/monkey-007-512.png" height="50" class="float-right mt-2">
  </div>
</div>

<div class="row">
  <div class="col">  
    <table class="table table-sm table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Word</th>
          <th>Population</th>
          <th>Mutation</th>
          <th>Generations</th>
          <th>Fitness</th>
          <th>Time</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @experiments_list.each_with_index do |experiment, i| %>
          <tr>
            <td><%= experiment['word'] %></td>
            <td><%= experiment['population'] %></td>
            <td><%= experiment['mutation'] %></td>
            <td><%= experiment['generations'] %></td>
            <td><%= experiment['fitness'] %></td>
            <td><%= experiment['time'] %></td>
            <td><%= link_to 'Delete', experiment_path(id: i), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= link_to 'New Experiment', new_experiment_path, class: "btn btn-primary" %>
  </div>
</div>
