<div class="row">
  <h1 class="col page-title"><%= t('views.experiments') %></h1>
</div>

<div class="row">
  <div class="col">
    <div class="table-responsive" id="experiments-table-holder">
      <table class="table table-sm table-hover">
        <thead class="thead-dark">
          <tr>
            <th><%= t('views.word') %></th>
            <th><%= t('views.population') %></th>
            <th><%= t('views.mutation') %></th>
            <th><%= t('views.generations') %></th>
            <th><%= t('views.fitness') %></th>
            <th><%= t('views.time') %></th>
            <th colspan="1"></th>
          </tr>
        </thead>
  
        <tbody>
          <% @experiments_list.each_with_index do |experiment, i| %>
            <tr>
              <td><%= experiment['word'] %></td>
              <td><%= experiment['population'] %></td>
              <td><%= experiment['mutation'] %></td>
              <td><%= experiment['generations'] %></td>
              <td><%= experiment['fitness'] %></td>
              <td><%= experiment['time'] %></td>
              <td><%= link_to t('views.delete'), experiment_path(id: i), method: :delete, data: { confirm: t('views.confirm_delete') } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= link_to t('views.new_experiment'), new_experiment_path, class: "btn btn-primary" %>
  </div>
</div>
