<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @experiment.word %>
</p>

<p>
  <strong>Population:</strong>
  <%= @experiment.population %>
</p>

<p>
  <strong>Mutation:</strong>
  <%= @experiment.mutation %>
</p>

<p>
  <strong>Generations:</strong>
  <%= @experiment.generations %>
</p>

<p>
  <strong>Fitness:</strong>
  <%= @experiment.fitness %>
</p>

<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>
