<!DOCTYPE html>
<html>
  <head>
    <title><%= t('views.genetic_algorithm') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag asset_path('monkey.png') %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="container bg-light p-4 rounded-3 border border-secondary">
      <% if notice %>
        <br>
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          <%= notice %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
